<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Generator</title>
</head>
<body>
  <h1>Password Generator</h1>
  <label>How many passwords would you like to generate?</label><br>
  <input><br><br>
  <label>Please type in how many characters your password(s) should be:</label><br>
  <input><br><br>
  <label>Do you want your password(s) to have letters, numbers, and/or symbols? Please pick from the list below by selecting 1, 2, and/or 3. You can also say 'all' or combine numbers, 12.</label><br>
  <input><br><br>
</body>
</html>
